<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" media="all" href="../../vendor/test/mocha.css">
</head>

<body>
    <div id="mocha"></div>
    <script src="../../vendor/test/mocha.js"></script>
    <script src="../../vendor/test/chai.js"></script>
    <script src="solve.js"></script>
    <script>
    mocha.setup('bdd');
    </script>
    <script>
    (function() {

        chai.Should();

        describe('', function() {
            it('should work for the examples', function() {
                
            });
        });

    })();
    </script>
    <script>
    mocha.run();
    </script>
</body>

</html>
